@model Bookshelf.ViewModels.BookFormViewModel

@{
    ViewData["Title"] = "Add a Book";
}

<h1>Add a Book</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="AuthorId">Author</label>
        <select asp-for="AuthorId" asp-items="Model.Authors">
            <option value="">-- Select Author --</option>
        </select>
        <span asp-validation-for="AuthorId"></span>
    </div>

    <div>
        <label asp-for="Isbn">ISBN</label>
        <input asp-for="Isbn" />
        <span asp-validation-for="Isbn"></span>
    </div>

    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
</form>

<p>
    <a asp-action="Index">Back to List</a>
</p>
