@model Bookshelf.ViewModels.BookFormViewModel

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />

    <form-text asp-for="Title" />
    <form-select asp-for="AuthorId" label="Author" asp-items="Model.Authors" placeholder="-- Select Author --" />
    <form-text asp-for="Isbn" label="ISBN" />
    <form-text asp-for="Year" />

    <div>
        <input type="submit" value="Save" />
    </div>
</form>

<p>
    <a asp-action="Index">Back to List</a>
</p>
