@model IEnumerable<Bookshelf.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<p>
    <a asp-action="Create">Add an Author</a>
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@author.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
