@model Bookshelf.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<h1>Log In</h1>

<form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <form-field asp-for="Email" />
    <form-field asp-for="Password" />

    <div>
        <label>
            <input asp-for="RememberMe" />
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>

    <div>
        <input type="submit" value="Log In" />
    </div>
</form>

<p>
    Don't have an account? <a asp-action="Register">Register</a>
</p>
