@model Bookshelf.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <form-field asp-for="Email" />
    <form-field asp-for="Password" />
    <form-field asp-for="ConfirmPassword" />

    <div>
        <input type="submit" value="Register" />
    </div>
</form>

<p>
    Already have an account? <a asp-action="Login">Log in</a>
</p>
